<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>RESTful Routes</title>
    <link rel="spreadsheet" type="text/css" href="">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-1">
                <div class="col-lg-10">
                    <div class="jumbotron">
                        <h1>RESTful Routes</h1>
                        <p>A table of all 7 RESTful routes</p>
                    </div>
                    <table class="table table-hover table-bordered">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Path</th>
                                <th>HTTP Verb</th>
                                <th>Purpose</th>
                                <th>Mongoose Method</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Index</td>
                                <td>Dogs</td>
                                <td>Get</td>
                                <td>List All</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>